<nav class="navbar navbar-dark bg-dark fixed-top" id=topnav>
<p>GIT-SEARCH </p>
</nav>
  <div class="container">
<div style="background:transparent" class="jumbotron">
  <h1>Github Profile Search</h1>
  <form #searchField="ngForm">
  <div class="form-row" >
  <img src="./assets/git icon.jpg" alt="Italian Trulli">
  <img src="./assets/magnifying glass.webp" alt="Italian Trulli">
  <div class ="col-lg-8">
  <a routerLink="profile"><button class="btn btn-outline-dark btn-lg" style="border-radius: 0">Click to Start</button></a>
  </div>
  </div>
  </form>
  </div>
  </div>
  <nav class="navbar navbar-dark bg-dark fixed-bottom" id=bottomnav>
    <p>Search for Github Profiles and repositories</p>
  </nav>
