div.container{
  height: 50em;
  display: flex;
  flex:row;
  align-items: center;
  justify-content: center;
}
div.container h1 h2{
   margin: 0;
}
.form-control-lg{
  height:4em !important;
  width:30em;
  background-color: black;
  color:white;
}

#bottomnav{
 background-color: #333;
 height:4em;
 color:white !important;
 display:inline-block;
 text-align: center;
 font-size: 20px !important;
 }
h1{
  padding-left: 20%;
  font-size: 30px;
}
img{
  width:10%;
  height:1%;
}
#topnav{
 background-color: #333;
 height:2em;
 color:white !important;
 display:inline-block;
 text-align: center;
 font-size: 26px !important;
}
