<nav class="navbar navbar-dark bg-dark fixed-top" id=topnav>
<p>GIT-SEARCH </p>
</nav>
<div class="form-row">
<img src="./assets/git icon.jpg" alt="Italian Trulli">
<img src="./assets/magnifying glass.webp" alt="Italian Trulli">
<div class="col">
 <input type="text" class="form-control-lg" columns="3" routerlink='profile' placeholder="Search here">
</div>
</div>
<div class="card card-cascade">
<div class="view view-cascade overlay">
<img src="avatar" class="card-img-top img-responsive" alt="profile photo">
<a>
<div class="mask rgba-white-slight"></div>
</a>
</div>
