html, body {
    font-family: 'Permanent Marker', cursive;
}
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
    font-family: 'Permanent Marker', cursive;
  }
input:focus{
    outline: none;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  }

button:focus {
    outline:0;
}

input:focus {
    outline: 0;
}
